#matrix-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0;
    background-clip: padding-box;
    text-align: center;
    border-color: grey;
}

#matrix-table tr > * {
    position: relative;
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
}

#matrix-table td {
    /*width: 30px;*/
    border: 1px solid #181818;
    background: #ebe6e3;
    padding: 2.5rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.display-none {
    display: none;
}

